@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li::before {
  /* Set content to an empty string */
  content: counter(list);

  /* Add a background image for the marker */
  background: center/contain no-repeat url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/1200px-Flag_of_Ukraine.svg.png");

  /* Add animation */
  animation: 3s linear 1s infinite spin;

  /* Create the box and center its contents */
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Additional text styles */
  color: white;
}


* {margin: 0; padding: 0;}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
}

div {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
  counter-increment: list;
}

li:hover {
  background: #eee;
  cursor: pointer;
}